* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visit-content__wrapper {
    margin: 0;
    padding: 0;
}

.visit-content__wrapper {
    display: flex;
    flex-direction: column;
}

.visit-content__wrapper > * {
    padding: 0;
    margin: 10px 40px;
}


.form-create-user__title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.form-create-user__title::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 15px auto 0;
    position: absolute;
    top: 0;
    left: 0;
}

.form-create-user__title {
    margin-top: 30px;
}

.form-create-user__purpose, .form-create-user__shortinfo, .form-create-user__indefic, .select-urgency-order {
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: 1px solid rgb(6, 16, 73);
    border-radius: 5px;
    padding: 10px;
}


.form-create-user__purpose:focus, .form-create-user__shortinfo:focus, .form-create-user__indefic:focus, .select-urgency-order:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(5, 36, 214);
}

.form-create-user__btn {
    outline: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: rgba(14, 137, 238, 0.4);
}

.form-create-user__btn:hover {
    transition: all 0.7s ease-in-out;
    background-color: rgba(14, 137, 238, 1);
}


.doctors-forms {
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__logo {
    width: 50px;
    height: 50px;
}

.header__button-login {
    padding: 10px 40px;
    background:  linear-gradient(to right, #9C27B0, #E040FB);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

.header__button-create-elem {
    padding: 10px 40px;
    background:  linear-gradient(to right, #9C27B0, #E040FB);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}


.login {

    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login__email, .login__password {
    border: none;
    outline: none;
    margin-bottom: 1em;
    padding: 1em 2em;
    border-radius: 5em;
}

.login__btn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding: 15px 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-transform: uppercase;
    margin: 2em;


}

.login__instructions {

    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-bottom: 2em;
}

#password {
    background-image: url("https://img.icons8.com/material-sharp/20/000000/visible.png");
    background-position: 97% center;
    background-repeat: no-repeat;
}

#password.visible {
    background-image: url("https://img.icons8.com/material-outlined/20/000000/invisible.png");
}

#toggle-password {
    display: none;
}

#toggle-password + label {
    text-indent: -9999px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 305px;
    cursor: pointer;
    position: fixed;
    top: 31.2%;

}

.filter__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
    padding: 2rem;
}
.filter__select
{
    width: 20rem;
    margin: 1px;
}


.header{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header__logo{
    width: 50px;
    height: 50px;
}
.header__button-login{
    padding: 10px 40px;
    background-color: darkgreen;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
.header__button-create-elem{
    padding: 10px 40px;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: orange;
}
.card{
    position: relative;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}
.btn-show-more{
    padding: 10px 20px;
    background-color: green;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.hidden{
    display: none;
}